* text=auto

*.sh text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.py text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.ps1 text eol=crlf

*.so binary
*.a binary
*.png binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.hdf5 binary
*.parquet binary
*.tfrecord binary
